/*
 *= require twitter/bootstrap
 */
body {
    padding-top: 10px;
}

#header .logo {
    font-size: 48px;
}

#menu {
    margin: 10px 0;
}

#menu .navbar-inner {
    border-left: 0;
    border-right: 0;
    border-radius: 0;
}

#search-form {
    margin: 0;
}

table.videos-list-table {
    font-size: 12px;
}

table.videos-list-table a {
    color: #000000;
}

table.videos-list-table a:hover {
    color: #0088CC;
}

table.videos-list-table th, table.videos-list-table td {
    text-align: center;
}

table.videos-list-table th.text-left, table.videos-list-table td.text-left {
    text-align: left;
}

.footer .baidu {
    display: none;
}
