/*
 *= require twitter/bootstrap
 */
body {
	padding-top: 10px;
}

#header .logo {
	font-size: 48px;
}
#menu {
	margin: 10px 0;
}
#menu .navbar-inner {
	border-left: 0;
	border-right: 0;
	border-radius: 0;
}
#search-form {
	margin: 0;
}
.footer .baidu {
	display: none;
}
